.activity_header {
  min-width: 150px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(65, 37, 156, 0.7);
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
  color: white;
  /* background-image: linear-gradient(
    -45deg,
    rgb(65, 37, 156),
    rgb(134, 64, 117) 120%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;
}

.header_inner {
  width: 100%;
  position: relative;
}

.sort_arrow_wallet {
  /* width: 25px; */
  position: absolute;
  right: 0;
  padding-right: 5%;
  /* overflow: hidden; */
}

.sorted_asc {
  color: rgb(134, 64, 117);
}

.sorted_desc {
  color: rgb(65, 37, 156);
}

.activity_data {
  color: white;
  text-align: center;
  border-top: none !important;
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
}
