.collection_page {
  color: white;
  margin-top: 20px;
}

.collection_name_large {
  font-size: 4rem;
}

.collection_image_large {
  width: 400px;
  object-fit: cover;
  height: 400px;
  border: 2px solid white;
  border-radius: 15%;
  box-shadow: 0px 0px 15px 5px black;
}

.collection_info_header {
  /* font-weight: bold; */
  font-size: 0.9rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.collection_info_large {
  font-size: 1.2rem;
}

.collection_stat {
  /* border: 1px solid white; */
  /* background-color: rgb(196, 185, 173); */
  background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%);
  border-radius: 15px;
  padding: 5px 30px;
  min-width: 200px;
}

.collection_stat_container {
  padding: 3px;
}

.collection_stat_secondary {
  /* border: 1px solid white; */
  /* background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%); */
  background: rgb(53, 43, 87);
  /* box-shadow: inset 0px 0px 5px 0px black; */
  border-radius: 15px;
  padding: 20px 20px;
  /* margin: 5px 0px; */
  /* min-width: 250px; */
  /* min-width: 100%; */
}

.collection_floor {
  height: 600px;
}

.chartbox {
  background: rgb(18, 11, 37);
  padding: 20px 10px 20px 20px;
  border-radius: 20px;
  min-height: 350px;
}

.chartbox_tall {
  min-height: 600px;
}

.marketplace {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px 100px;
  min-width: 200px;
  color: white;
  font-weight: bold;
}

.selected_marketplace {
  background: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.top_table_header {
  font-size: 2.7rem;
}

.nft_card_container {
  padding: 15px 30px;
}

.nft_card {
  background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 80%);
  /* margin: 5px; */
  height: 425px;
  /* width: 100%; */
  /* max-width: 325px; */
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
}

.nft_card h5 {
  font-size: 1rem;
  line-height: 1rem;
}

.nft_card_image {
  /* opacity: 0.8; */
  /* mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0)
  ); */
  width: 100%;
  min-height: 310px;
  max-height: 310px;
  object-fit: cover;
  /* box-shadow: 1px 1px 10px 2px rgba(206, 108, 255, 0.6); */
  border-bottom: 1px solid black;
}

.nft_card_details {
  height: 100%;
  width: 100%;
  padding: 0px 5px;
}

.price_logo_sm {
  height: 20px;
  margin: 0px 5px 0px 0px;
}

.price_logo_lg {
  height: 30px;
  margin: 0px 10px 0px 0px;
  padding-bottom: 3px;
}

@media screen and (max-width: 1500px) {
  .collection_image_large {
    max-width: 300px;
    max-height: 300px;
  }
  .collection_name_large {
    font-size: 2.5rem;
  }
  .collection_stat {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 800px) {
  .collection_info_large {
    font-size: 1rem;
  }
  .collection_info_header {
    font-size: 0.7rem;
  }
  .nft_card_container {
    width: 350px;
    padding: 15px 0px;
  }
}
