.connect_button {
  background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%);
  border-radius: 15px;
  padding: 5px 30px;
  min-width: 200px;
}

.connect_button:hover {
  background: linear-gradient(
    -45deg,
    rgb(65, 37, 156),
    rgb(134, 64, 117) 120%
  ) !important;
}
