.btn_mp {
  width: 100%;
  height: 100%;
  min-height: 45px;
  border-radius: 15px;
  border: 0px;

  background: linear-gradient(
    -45deg,
    rgba(65, 37, 156, 1),
    rgba(134, 64, 117, 1) 120%
  );
  padding: 2px;
  box-shadow: 0px 0px 2px 2px black;
}

.btn_mp_inner {
  padding: 5px;
  background: rgb(18, 11, 37);
  height: 100%;
  width: 100%;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn_mp_inner_selected {
  background: linear-gradient(
    -45deg,
    rgba(65, 37, 156, 1),
    rgba(134, 64, 117, 1) 120%
  );
  color: white;
  font-weight: 800;
}

.btn_mp_inner:hover {
  /* background: transparent; */
}

.listing_input {
  background: rgb(18, 11, 37);
  color: white;
  text-align: center;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 15px;
  min-height: 45px;
  width: 100%;
}

.terms_text {
  font-size: 0.7rem;
}
