.about_container {
  /* height: 100%; */
  margin-bottom: 5%;
}

.about_text {
  color: white;
  font-size: 1.45rem;
  font-family: "alt";
}
.text_padding {
  padding: 0px 100px;
}

.about_heading {
  color: rgb(64, 250, 120);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.nft_example {
  height: 300px;
  border-radius: 15px;
  border: 2px solid rgb(64, 250, 120);
  box-shadow: 0px 0px 20px black;
}

@media screen and (max-width: 1250px) {
  .about_text {
    font-size: 1rem;
    padding: 0px 15px;
  }

  .about_heading {
    font-size: 2rem;
  }
}
