.activity_header {
  min-width: 150px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(134, 64, 117, 0.5);
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
  color: white;
  /* background-image: linear-gradient(
    -45deg,
    rgb(65, 37, 156),
    rgb(134, 64, 117) 120%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;
}

.activity_data {
  color: white;
  text-align: center;
  border-top: none !important;
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
}
