.whale_card {
  background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 100%);
  margin: 5px;
  width: 350px;
  height: 375px;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
  padding: 15px 0px 0px 0px;
}
.seller {
  /* background: linear-gradient(180deg, rgb(65, 37, 156), rgb(134, 64, 117) 100%); */
}

.font_white {
  color: white;
}

.whale_image_container {
  height: 100px;
  width: 100px;
  overflow: hidden;
  /* background: linear-gradient(180deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%); */
  /* background: rgb(65, 37, 156); */
  border-radius: 100%;
  /* border: 2px solid black; */
}

.seller_image_container {
  /* background: linear-gradient(0deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%); */
  /* background: rgb(134, 64, 117); */
}

.whale_image {
  /* padding-top: 20px; */
  max-height: 100px;
  /* width: 100%; */
  object-fit: cover;
  /* max-width: 100px; */
}

.whale_address {
  font-size: 1.2rem;
  color: white;
  /* font-weight: bold; */
}

.spaced {
  letter-spacing: 2px;
}

.whale_stat_large {
  font-size: 1.4rem;
  font-weight: bold;
}

.whale_stat_small {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}
