.team_container {
  /* height: 100%; */
  margin-bottom: 5%;
}

.reverse {
  background: linear-gradient(
    rgba(75, 53, 134, 0.7),
    rgba(250, 163, 64, 0.7) 130%
  );
}

.team-members {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.member_card img {
  width: 100%;
  /* box-shadow: 1px 1px 10px 2px rgba(206, 108, 255, 0.6); */
  border-bottom: 2px solid black;
}
.member_card a:hover,
.member_card a {
  text-decoration: none;
  color: white;
}
.member_card h2,
.member_card h4 {
  margin: 5px;
  margin-top: 30px;
  font-weight: 100;
  color: rgb(64, 250, 120);
  letter-spacing: 2px;
}

.member_card h2 {
  font-size: 1.25rem;
}
.member_card h4 {
  font-size: 1rem;
}

.team_heading {
  color: rgb(64, 250, 120);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.member_card {
  background: linear-gradient(black, black, rgba(75, 53, 134, 1));
  margin: 10px;
  width: 300px;
  height: 390px;
  /* margin: 3vh 3vw !important; */
  /* margin-top: 0 !important; */
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 20px black;
}

.member_card:hover {
  box-shadow: 0px 0px 20px rgb(64, 250, 120);
  border: 2px solid rgb(64, 250, 120);
}

.member_card:active {
  box-shadow: inset 0px 0px 20px black;
}
