.app {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto; */
  /* background: linear-gradient(
    90deg,
    rgb(145, 137, 127) -40%,
    rgb(253, 240, 222),
    rgb(145, 137, 127) 130%
  ); */
  /* background-color: rgb(228, 215, 200); */
  background-color: rgb(25, 16, 51);
}

.light_mode {
}

.font_main {
  font-family: "main";
}

.font_alt {
  font-family: "alt";
}

.navigation {
  /* height: 10%; */
  /* overflow: hidden; */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.page_content {
  /* overflow-y: scroll; */
  /* position: fixed; */
  /* height: 100%; */
  /* margin-top: 2%; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  padding-bottom: 3vh;
  min-height: 75vh;
}

.sorted_asc {
  color: rgb(134, 64, 117);
}

.sorted_desc {
  color: rgb(65, 37, 156);
}

.page_box {
  background: linear-gradient(rgba(75, 53, 134, 0.7), rgba(0, 0, 0, 0.7));
  /* border: 2px solid rgb(250, 163, 64); */
  /* background: linear-gradient(
    rgba(75, 53, 134, 0.7),
    rgba(35, 141, 67, 0.5) 80%
  ); */
  backdrop-filter: blur(50px);
  border: 2px solid rgb(64, 250, 120);
  border-radius: 15px;
  box-shadow: 0px 0px 20px black;
  /* box-shadow: 0px 0px 20px 5px white; */
  overflow: hidden;
  padding: 50px 20px;
  height: auto;
  /* width: auto; */
  /* height: 100%; */
  /* margin: auto auto; */
}

.scroll_top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background: linear-gradient(-45deg, rgb(65, 37, 156), rgb(134, 64, 117) 120%);

  align-items: center;
  border-color: black;
  border-radius: 50px;
  box-shadow: 0px 0px 2px black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  width: 100px;
  overflow: hidden;
  padding: 0px 7px;
  z-index: 3;
}

.activity_box {
  min-height: 1075px;
}

.activity_header {
  min-width: 150px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(65, 37, 156, 0.7);
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
  color: white;
  /* background-image: linear-gradient(
    -45deg,
    rgb(65, 37, 156),
    rgb(134, 64, 117) 120%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  text-align: center;
}

.header_inner {
  width: 100%;
  position: relative;
}

.sort_arrow_wallet {
  /* width: 25px; */
  position: absolute;
  right: 0;
  padding-right: 5%;
  /* overflow: hidden; */
}

.sorted_asc {
  color: rgb(134, 64, 117);
}

.sorted_desc {
  color: rgb(65, 37, 156);
}

.activity_data {
  color: white;
  text-align: center;
  border-top: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center !important;
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
}

.activity_data2 {
  color: white;
  text-align: center;
  border-top: none !important;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* border-right: 1px solid rgba(134, 64, 117, 0.5); */
  /* border-left: 1px solid rgba(134, 64, 117, 0.5); */
}

.activity_image {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.activity_row1 {
}

.activity_row2 {
  background-color: rgb(25, 16, 51);
  /* background: linear-gradient(
    -45deg,
    rgba(65, 37, 156, 0.2),
    rgba(134, 64, 117, 0.2) 120%
  ); */
  border-radius: 15px !important;
  overflow: hidden;
}

.table_row1 {
}

.table_row2 {
  background-color: rgb(25, 16, 51);
  border-radius: 15px !important;
}

.activity_row_image1 {
  height: 91.5px !important;
}

.activity_row_image2 {
  background-color: rgb(25, 16, 51);
  /* background: linear-gradient(
    -45deg,
    rgba(65, 37, 156, 0.2),
    rgba(134, 64, 117, 0.2) 120%
  ); */
  border-radius: 15px !important;
  overflow: hidden;
  height: 91.5px !important;
}
.full_width_table {
  width: 100% !important;
}

@media screen and (max-width: 1250px) {
  .scroll_top {
    bottom: 10px;
  }
  .page_content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .page_content_launch {
    padding-left: 0px;
    padding-right: 0px;
  }
}
