td {
  /* padding: 0.25rem 1.35rem; */
  padding: 0.25rem 1rem;
  width: 250px;
  overflow: hidden;
  border-top: 1px dotted rgb(54, 54, 54);
}

.sorted_asc {
  color: rgb(134, 64, 117);
}

.sorted_desc {
  color: rgb(65, 37, 156);
}

.pagination_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../assets/images/down_arrow.svg") no-repeat 315px 11px;
  background-color: rgb(33, 25, 59);
  border-radius: 15px;
  padding: 0 16px;
  margin-bottom: 0.75rem;
  height: 40px;
  min-width: 350px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

.data_table {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .pagination_select {
    min-width: 350px;
    /* height: 65px; */
  }
}
@media screen and (max-width: 1760px) {
  .data_table {
    justify-content: start !important;
  }
}
